= simple_form_for(@show_dont_tell, html: { multipart: true }) do |f|
  = render partial: 'shared/errors', locals: { resource: @show_dont_tell }
  .col-md-3
    .span3
  .col-md-6
    .span6
      .field
        = f.label :date, 
                  'Date'
        %br          
        = f.datetime_select :date, 
                            {prompt: true,
                              discard_hour: true,
                              discard_minute: true},
                            {class: 'show-dont-tell-full-width'}
      .field
        = label_tag 'Presentations:'
        #presentations
          = f.simple_fields_for :presentations do |presentation|
            = render 'presentation_fields', f: presentation
        .links
          = link_to_add_association '+ Add presentation', f, :presentations
      .actions
        = link_to 'Cancel', show_dont_tells_path, class: 'btn btn-disabled'
        = f.submit 'Save', class: 'btn'
  .col-md-3
    .span3
  
.clearfix
