%h1 Edit Badge

= form_for [ :admin, @badge ], html: { multipart: true } do |f|
  = render 'form', f: f

  %h3 Users
  = hidden_field_tag "badge[user_ids][]", nil

  - User.order(:name).all.each do |user|
    .checkbox
      = check_box_tag "badge[user_ids][]", user.id, @badge.user_ids.include?(user.id), id: dom_id(user)
      = label_tag dom_id(user), user.name

  .clear
    = f.submit 'Update', class: 'btn btn-primary'
