.container.user-container
  .edit-user-info
    %h1 Edit user info
    = simple_form_for @user do |f|
      .col-sm-10
        = f.input :name
      .col-sm-10
        = f.input :bio
      .col-sm-10
        .panel.panel-default
          .panel-body
            = f.association :skills,
              as: :check_boxes,
              collection: get_skills(@user.department)
      - if current_user.is_admin?
        .col-sm-10
          .panel.panel-default
            .panel-body
              = f.association :badges, as: :check_boxes
      .col-sm-12
        = f.submit
        = link_to 'Back to Dashboard', user_path(@user)
        |
        = link_to 'Back to Admin', admin_users_path if current_user.is_admin?
