%h1 Edit user
= form_for @user do |f|
  .row
    .col-sm-2
      = f.label :name
    .col-sm-10
      = f.text_field :name
  .row
    .col-sm-2
      = f.label :bio
    .col-sm-10
      = f.text_area :bio
  .row
    .col-sm-2
      = f.label :position
    .col-sm-10
      = f.collection_select :position_id, Position.all, :id, :name,
        prompt: 'Select a position'
  .row
    .col-sm-2
      = f.label :skills
    .col-sm-10
      = f.collection_check_boxes :skill_ids, Skill.all, :id, :name
  .row
    .col-sm-12
      = f.submit
.row
  .col-sm-12
    = link_to 'Check user', user_path(@user)
