.row
  %aside.col-md-3
    .span3.profile
      = image_tag @user.picture_url, class: 'profile-image'
      .profile-info-main
        %h3.profile-name= @user.name
        .profile-position= position
      %hr.profile-separator
      = link_to_admin
      .profile-info
        %h3.profile-title
          %span.profile-ico-summary
          Summary
        %p.profile-summary= @user.bio
        %hr.profile-separator
      .profile-info
        %h3.profile-title
          %span.profile-ico-skills
          Skills
        %ul.profile-summary
          - @user.skills.each do |skill|
            %li.profile-skill= skill.name
        %hr.profile-separator.light
      .profile-info
        %h3.profile-title
          %span.profile-ico-position
          Position
        %p.profile-summary
          %strong= @user.department
          %br
          = position
      %hr.profile-separator.light
      .profile-info
        %h3.profile-account
          = link_to edit_user_path(@user) do
            %span.profile-ico-account
            Account
        .profile-footer-icon
    .span3.user-links
      |
      = link_to 'Nominate a user', new_nominee_user_path
      |
      = link_to 'Nominate list', nominee_lists_path
      |
      = link_to 'Propose a badge', new_propose_badge_path
      |
  %section.badges.col-md-9
    .row
      %header.badges-header-container
        %h3.badges-header
          %span.badges-header-image
          %span.badges-title My Badges
        %ul.badges-menu
          %li= link_to 'Check all my badges', '#', class: 'badges-first-link'
          %li= link_to 'Check all badges', badges_path, class: 'badges-last-link'
        .badges-header-decorator
    .row
      .badges-all
        = show_badges
    .row
      %footer.badges-footer
        %p
          Displaying my last
          = pluralize(@badges.size, 'badge')
        .badges-footer-icon
