.row
  %aside.col-md-3
    = render partial: 'profile', locals: { user: @user }

  = render partial: 'widgets'

  %section.show-dont-tells.col-md-9.module-separation
    .row
      %header.show-dont-tells-header-container
        %h3.show-dont-tell-header
          %span.show-dont-tell-header-image
          %span.show-dont-tells-title On the next Show don't tell
        %ul.show-dont-tells-menu
          %li
            = link_to 'Active show don\'t tell presentations', presentations_path(active: true),
              class: 'badges-first-link'
          %li.last
            = link_to 'All show don\'t tell presentations', presentations_path, class: 'show-dont-tell-last-link'
        .show-dont-tells-header-decorator
    .row
      .show-dont-tells-all
        = show_next_wednesday_presentations

    .row
      %footer.show-dont-tells-footer
        %p
          Show don't tells
        .show-dont-tells-footer-icon
