

-#= link_to 'Users', admin_users_path
-#|
-#= link_to 'Badges', badges_engine.badges_path
-#|
-#= link_to 'Levels', badges_engine.levels_path
-#|
-#= link_to 'Awards', badges_engine.awards_path
-#|
-#= link_to 'Values', badges_engine.values_path
-#|
-#= link_to 'Create nominee list', new_admin_nominee_list_path
.admin-settings-header
  .left-side
    .admin-settings-logo
    %h1 Admin settings
    %p Choose a module to continue
  .right-side
    = link_to "Back to my profile Dasboard", logo_redirect_url
  .mid-flag-corner
.admin-settings-control
  %ul.nav
    %li= link_to 'Users', admin_users_path
    %li= link_to 'Badges', '#'
    %li= link_to 'Kiitos', '#'
    %li= link_to 'English', '#'
    %li= link_to 'Codeschool', '#'
    %li= link_to 'Workshops', '#'
