!!!
%html
  %head
    = render 'layouts/head'
  %body
    .header-default
      =link_to '', admin_users_path, class: 'circle'
      .header-vertical-line
      .container
        = yield :user_details
    = notice
    #content
      .container
        = yield :actions
        = yield
    %footer#footer
      .container
        %ul
          %li= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'
          %li.culture-logo
