!!!
%html
  %head
    %title KardexCrowdintCom
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header.header.header-home
      .header-right
      .header-left
      .circle
    = notice
    #content
      .container
        = yield
    %footer#footer
      .container
        %ul
          %li= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'
          %li.culture-logo
